<h2>Registrarse</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<div class="field">
     RUN: <%= f.text_field :run, placeholder:" 12345678",:size=>"10", autofocus: true, :maxlength=>"8"%> 
   - <%= f.text_field :run_dig_ver, placeholder:"  k", :size=>"2", :maxlength=>"1"%>
  </div>

<br>

<div class="field">
    Fecha de nacimiento: <%= f.date_field :fecha_nacimiento%> 
  </div>
<br>

<div class="field">
    Nombre: <%= f.text_field :nombre%> 
  </div>
<br>
<div class="field">
    Apellido Paterno: <%= f.text_field :apellidop %>
  </div>
<br>
<div class="field">
    Apellido Materno: <%= f.text_field :apellidom%>
  </div>





<br>

  <div class="field">
     Email: <%= f.email_field :email, placeholder:"correo@gmail.com" %>
  </div>
<br>
  <div class="field">
    Contraseña: 


    <% if @minimum_password_length %>
    <em>(mínimo <%= @minimum_password_length %> caracteres)</em>
    <% end %>


    <%= f.password_field :password, autocomplete: "off" %>
  </div>
<br>
  <div class="field">
    Repita Contraseña:
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
<br>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
