<div class="site-wrapper">
	<div class="site-wrapper-inner">
		<div class="cover-container">
			
			<div class="masthead clearfix">
				<div class="inner">
					<h3 class="masthead-brand"><%= image_tag("sidra_ctm2.png", :alt => "icon",size: "140") %></h3>
				</div>
			</div>

			<div class="inner cover">


        

				<h1 class="cover-heading">Proyecto SIDRA</h1>

        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>


				<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
					<div class="form-inline">
						<%= f.text_field :login, :size=>"13", :maxlength=>"8", placeholder: "RUN: 12345678", class: "form-control" %>
						-
						<%= f.text_field :run_dig_ver, :size=>"1",  :maxlength=>"1", placeholder: "k", class: "form-control" %>
					</div>

					<br>

					<div class="form-inline">
						<%= f.password_field :password, placeholder:"Clave:", class: "form-control"%>
					</div>

					<br>

					<div class="btn-group">
						<%= f.submit "Ingresar", class:"btn btn-lg btn-default"%>
						<a href="#" class="btn btn-lg btn-default">Registrarse</a>
					</div>

				<% end %>

				<!--
				<div class="btn-group">
					<a href="#" class="btn btn-lg btn-default">Ingresar</a>
					<a href="#" class="btn btn-lg btn-default">Registrarse</a>	
				</div>
				-->
				
			
			</div>

		</div>
	</div>
</div>