<div class="container">
	<h1>Ingresar</h1>

	<hr>

	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		<div class="row">
			<div class="form-group col-md-3">
				<label class="">RUN:</label>
				<div class="form-inline">
					<%= f.text_field :login, :size=>"13",autocomplete:"off", :maxlength=>"8", placeholder: "Ej: 12345678", class: "form-control" %>
					-
					<%= f.text_field :run_dig_ver,autocomplete:"off", :size=>"1", :maxlength=>"1", placeholder: "k", class: "form-control" %>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="form-group col-md-3">
				<label class="">Clave: </label>
				<div class="form-inline">
					<%= f.password_field :password,autocomplete:"off", :size=>"20", :maxlength=>"20", class:"form-control" %>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="btn-group col-md-3">
				<%= f.submit "Ingresar", class:"btn btn-lg btn-default" %>
				
				<%= link_to("Registrarse", new_rol_registration_path, class:"btn btn-lg btn-default") %>
			</div>
		</div>

	<% end %>
</div>


