<div class="container">


<div class = "container">
  <h1>Panel de Control</h1>
  <div class = "row">
    <div class = "panel-group" id = "accordion">
      <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
              Agendar Nueva Cita
              </a>
            </h3>
          </div>
          <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body">
            <div class = "container-fluid well">
              <div class="row">
                <div class="col-md-12 form-group">
                <label>Seleccionar Centro de Atencion</label><br>
                    <select class="form-control" name = "centro">
                    
                    <%= @centros.each do |centro| %>
                        <option name="centro" value="<%= centro['id_centrosalud'] %>"><%= centro['nombre_centro'] %></option>
                    <% end %>

                    </select>
            </div>
              </div>
              </div>
            <div class = "container-fluid well">
              <h4>Por Especialidad</h4><hr>
              <div class="row">
                <div class="col-md-12 form-group">
                <label>Seleccionar Especialidad</label><br>

                  <select class="form-control" name="especialidad">

                  <%= @especialidades.each do |especialidad| %>
                    <option value="<%= especialidad['id_especialidad']%>"><%= especialidad['nombre_especialidad'] %></option>
                  <% end %>

                  </select>

            </div>
          </div>
          <button type="button" class="btn btn-lg btn-info">Buscar Horas</button>
          </div>

          <div class = "container-fluid well">
          <h4>Por Especialista</h4><hr>
              <div class="row">
                <div class="col-md-12 form-group">
                <label>Seleccionar Especialista</label><br>
                  
                  <select class="form-control" name = "especialista">

                  <%= @medicos.each do |medico| %>
                    <option name="especialista" value="<%= medico['id_persona']%>"><%= medico['nombre_persona'] + " " + medico['apellidop_persona'] + " " + medico['apellidom_persona']%></option>
                  <% end %>
                  
                  </select>
            </div>
          </div>
          <button type="button" class="btn btn-lg btn-info">Buscar Horas</button>
          </div>


              </div>
            </div>
          </div>
      </div>

      <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
              Editar Citas Actuales
              </a>
            </h3>
          </div>
          <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">
              <table class="table table-hover">
            <thead>
              <tr>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Box</th>
                <th>Medico</th>
                <th>Centro</th>
                <th>Direccion</th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
              <% @citas.each do |c| %>
                <tr>
                  <td><%= c['fecha'] %>
                  <td><%= c['hora'] %>
                  <td><%= c['box'] %>
                  <td><%= c['nombre_med'] %> <%= c['apell_med'] %></td>
                  <td><%= c['centro'] %></td>
                  <td><%= c['calle'] %> # <%= c['num'] %></td>
                  <td><%= link_to 'Borrar', borrarCita_path(:id => c['id_cita']) %></td> 
                </tr>
              <% end %>
            </tbody>

          </table>
                

            </div>
          </div>
      </div>

    </div>
  </div>
  </div>
</div>
