<div class="container">



 <div class="col-xs-12 col-md-8"><h1>Mis Citas</h1></div>
  <div class="col-xs-6 col-md-4">
    <% if rol_signed_in? %>
  
     <%= link_to('Cerrar Sesión', destroy_rol_session_path, :method => :delete, class:"btn btn-lg btn-default") %>
  
    <% end %>
	
 </div>


<% if rol_signed_in? %>
  <div>Bienvenido <%= current_rol.email %></div>
<% end %>



<table class="table table-striped">
  <thead>
    <tr>

      <th>Fecha</th>
      <th>Hora</th>
      <th>Box</th>
      <th>Médico</th>
      <th>Centro </th>
      <th>Dirección </th>
     
    </tr>
  </thead>

  <tbody>

    <% @citas.each do |c| %>
      <tr>

        <td><%= c['fecha'] %>
        <td><%= c['hora'] %>
        <td><%= c['box'] %>
        <td><%= c['nombre_med'] %> <%= c['apell_med'] %></td>
        <td><%= c['centro'] %></td>
        <td><%= c['calle'] %> # <%= c['num'] %></td>

      </tr>
    <% end %>
  </tbody>
</table>
</div>
