<div class="container">


<div class = "container">
  <h1>Panel de Control</h1>
  <div class = "row">
    <div class = "panel-group" id = "accordion">
      <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
              Agendar Nueva Cita
              </a>
            </h3>
          </div>
          <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body">

            <%= form_for :cita do |f| %>
            <div class = "container-fluid well">
              <div class="row">
                <div class="col-md-12 form-group">
                <label>Seleccionar Centro de Atencion</label><br>
                    <%= f.select :centro, options_for_select([["Hospital Santa Filomena", 1], ["Hospital Dipreca", 2],["Hospital Militar de Santiago",3],["Clinica Alemana",4]]), {}, {class: "form-control"} %>

            </div>
              </div>
              </div>
            <div class = "container-fluid well">
              <h4>Por Especialidad</h4><hr>
              <div class="row">
                <div class="col-md-12 form-group">
                <label>Seleccionar Especialidad</label><br>

                  <%= f.select :especialidad, options_for_select([["Oftalmologia", 1], ["Cardiologia", 2],["Urologia",3],["Psiquiatria",4]]), {}, {class: "form-control"} %>

            </div>
          </div>
          <%#= link_to 'Buscar Horas', por_especialidad_path(esp:  ), class:"btn btn-lg btn-default" %>
          <%= f.submit "Buscar Horas Especialidad" %>
          </div>

          <div class = "container-fluid well">
          <h4>Por Especialista</h4><hr>
              <div class="row">
                <div class="col-md-12 form-group">
                <label>Seleccionar Especialista</label><br>
                  
                  <%= f.select :especialista, options_for_select([["Salomon Dávila Gutierrez", 3], ["Daniela Barón Flores", 9]]), {}, {class: "form-control"} %>
            </div>
          </div>
          <%= f.submit "Buscar Horas Medico" %>
          </div>

          <%end%>
              </div>
            </div>
          </div>
      </div>

      <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
              Editar Citas Actuales
              </a>
            </h3>
          </div>
          <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">
              <table class="table table-hover">
            <thead>
              <tr>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Box</th>
                <th>Medico</th>
                <th>Centro</th>
                <th>Direccion</th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
              <% @citas.each do |c| %>
                <tr>
                  <td><%= c['fecha'] %>
                  <td><%= c['hora'] %>
                  <td><%= c['box'] %>
                  <td><%= c['nombre_med'] %> <%= c['apell_med'] %></td>
                  <td><%= c['centro'] %></td>
                  <td><%= c['calle'] %> # <%= c['num'] %></td>
                  <td><%= link_to 'Borrar', borrarCita_path(:id => c['id_cita']) %></td> 
                </tr>
              <% end %>
            </tbody>

          </table>
                

            </div>
          </div>
      </div>

    </div>
  </div>
  </div>
</div>
